
.SIGNUP-DIV {
    display: flex;
    align-items: center;
    vertical-align: center;

}
.SIGNUP-DIV .login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
    background: rgb(123, 184, 255);
    margin: auto;
    margin: auto;
    border-radius: 5%;
}

.SIGNUP-DIV button{
    margin: 10px;
}

.SIGNUP-DIV .login-label {
    background: rgb(0, 76, 170);
    color: white;
    width: 100%;
}

.SIGNUP-DIV .row {
    display: flex;
    flex-direction: row;
}

.SIGNUP-DIV .column {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}