.SCHEDULE-DIV .schedule {
    margin-top: 35px;
    border: solid 1px rgba(56, 143, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.SCHEDULE-DIV #main {
    padding-top: 3%;
    margin-top: 50px;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}



.SCHEDULE-DIV #main > * {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20%;

}


.schedule_header {
    border-bottom: solid 1px rgba(56, 143, 241);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.schedule_header > * {
    margin-top: 1.5%;
    margin-bottom: 1%;
}

.schedule_header .weekly_label {
    text-align: right;
    padding-right: 5%;
    
}

.schedule_header .Term {
    text-align: left;
    padding-left: 5%;
    
}


.schedule_header .weekly_label span {
    color: rgba(56, 143, 241);
    font-size: larger;
    position: relative;
    top: 5px;
    
}

.SCHEDULE-DIV .schedule_header .weekly_label {
    text-align: right;
}

.SCHEDULE-DIV tr {
    height: 120px;
}

.SCHEDULE-DIV tr:first-of-type {
    height: 80px;
}

.SCHEDULE-DIV td {
    border: 1px solid rgba(88, 88, 88);
    height: 100%;
    position: relative;
}

.SCHEDULE-DIV th {
    border: 1px solid rgba(0, 0, 0);
    color: rgba(0, 14, 144);
}


.SCHEDULE-DIV .schedule_table{
    text-align: center;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.SCHEDULE-DIV .schedule_table tr:first-of-type td{
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: none;
}


.SCHEDULE-DIV .schedule_table tr td:first-of-type{
    padding-top: 2%;
    padding-bottom: 2%;
    border-right: none;
}

.SCHEDULE-DIV .schedule_table tr:last-of-type td{
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: none;
}


.SCHEDULE-DIV .schedule_table tr td:last-of-type{
    padding-top: 2%;
    padding-bottom: 2%;
    border-left: none;
}

.SCHEDULE-DIV .class_time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5%;
    position: relative;
}

.SCHEDULE-DIV .courseName p {
    white-space: nowrap;
    overflow-x: hidden;
}

.SCHEDULE-DIV .class_time.Takhasosi {
    background: rgba(56, 142, 241, 0.7);
}


.SCHEDULE-DIV .class_time.Paaye {
    background: rgba(45, 177, 133, 0.7);
}


.SCHEDULE-DIV .class_time.Asli {
    background: rgba(199, 72, 103, 0.7);
}

.SCHEDULE-DIV .class_time.Umumi {
    background: rgba(219, 171, 14, 0.7);
}

